/* jQuerySlider - style.css */

* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.content_area {
  margin: 0 auto;
  max-width: 1000px;
  height: auto;
  /* background: red; */

}

.slider_cnt {
  margin: auto;
  position: relative;
  /* background: blue; */
  height: auto;
  width: 500px;

}

.slider_images_cnt {
  margin: auto;
  width: 400px;
  height: 100%;
}

.fas.prev, .fas.next {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 30px;
}

.fas.fa-arrow-right {
  left: auto;
  right: 0;
}

.slider_cnt img {
  max-width: 400px;
  margin: auto;
  display: none;
}

.slider_cnt img.active {
  display: block;
}
.slider_cnt .slider_indicators {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  padding: 10px 15px;
  border-radius: 12px;
  background: white;

}
